.view-container {
  padding: 100px 100px 0 100px;
  margin: 0 auto; // Center the content
  max-width: 1200px; // Limit the width for better responsiveness
  position: relative;
  font-family: 'Times New Roman', serif; // Apply Times New Roman globally
}
